@font-face {
  font-family: 'Kranafat';
  src: url(../assets/Font/KranaFat-A.ttf);
}
@font-face {
  font-family: 'MonoRegular';
  src: url(../assets/Font/MonoRegular.ttf);
}
@font-face {
  font-family: 'MonoBold';
  src: url(../assets/Font/MonoBold.ttf);
}


$primary-color:#c93c4c;
$secondary-color:#ececec;