html {
  scroll-behavior: smooth;
}

body {
  font-family: "MonoRegular";
  margin: 0;
  height: 100%;

  a {
    color: black;
    text-decoration: none;
  }
}

section {
  height: 100vh;
}

#profil {
  background-color: $secondary-color;
  background-image: url(../assets/image/Illustration_sans_titre.png);
  background-position: 0 65vh, center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8vh 5%;

  img {
    margin: 20px 0;
    width: 75px;
    border-radius: 50%;
  }

  .info {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .ability {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 50px;
    text-align: center;
    margin: 20px 0;
    img {
      display: block;
      margin: 10px auto;
    }
  }
}

#xp {
  background-color: lightgreen;
}

#school {
  background-color: lightcoral;
}

#Portfolio {
  background-color: lightseagreen;
}

#competence {
  height: 45vh;
  background-color: rgba(112, 112, 112, 0.65);
  border-radius: 20px;
  padding: 15px;
}
