.portfolio {
    #thumbnail {
        height: 45vh;
        background-image: linear-gradient(rgba(255, 255, 255, 0.021),rgba(8, 5, 5, 0.596)),url(../assets/image/ldiro.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: white;
        padding: 2vh 0;
    }

    #recap {
        height: 55vh;
        padding-bottom: 5vh;
        padding:0 5vh 5vh 5vh ;
        #title {
            display: flex;
            justify-content: space-around;

            div {
                text-align: center;
                padding: 15px 0;
                width: 100%;
            }
        }

        #content{
            margin: 20px 0;
            background-color: $primary-fade;
            border-radius: 15px;
            padding: 15px;
            ul{
                line-height: 45px;
                li{
                    font-size: 18px;
                    list-style: none;
                    i{
                        font-size: 26px;
                    }
                }
            }
        }
        div{
            button {
                background-color: $secondary-color;
                border: 0;
                border-radius: 10px;
                font-size: 16px;
                font-family: "MonoBold";
                display: block;
                margin-left: auto;
                padding: 5px 15px;

              }
        }
    }


    .remove{
        display: none;
    } 
    .underline {
        text-decoration: underline grey 2px;
        text-underline-offset: 8px;
    }


}