#profil {
    background-color: $secondary-color;
    background-image: url(../assets/image/beans.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    #bouton{
        width: 100%;
        position: absolute;
        top: 185vh; 
        display: flex;
        justify-content: space-evenly; 
    }

    div{
        button {
            background-color: $secondary-color;
            border: 0;
            border-radius: 10px;
            font-size: 16px;
            font-family: "MonoBold";
            display: block;
            margin-left: auto;
            padding: 5px 15px;

          }
    }

    .slider {
        height: 100vh;

        .slide1 {
            height: 100%;
            width: 100%;
            text-align: center;
            background-image: url(../assets/image/Illustration_sans_titre.png);
            background-position: 0 65vh, center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .card {

            object-fit: cover;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 100vh;
            left: 0;
            padding: 8vh 5vh;


            #name {
                display: flex;
                gap: 5vw;

                img {
                    width: 9vh;
                    height: 9vh;
                    border-radius: 50%;
                    margin: 10px 0;

                }

                div {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 10px;

                    h4 {
                        font-weight: normal;
                    }
                }
            }

            #info {
                text-align: center;

                .container {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    margin-top: 20px;
                    gap: 15px;

                    .div1 {
                        grid-area: 1 / 1 / 2 / 3;
                    }

                    .div2 {
                        grid-area: 2 / 1 / 3 / 2;
                    }

                    .div3 {
                        grid-area: 2 / 2 / 3 / 3;
                    }
                }
            }

            #ability {
                text-align: center;
                background-color: $primary-fade;
                border-radius: 15px;
                padding: 20px 10px;
                margin-top: 30px;

                .container {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    margin-top: 20px;
                    gap: 25px;

                    i {
                        font-size: 50px;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

        }

        .img_slider {
            opacity: 0;
        }

        .active {
            opacity: 1;

        }

        .suivant,
        .precedent {
            color: $primary-color;
            font-size: 2em;
            position: absolute;
            top: 150vh;
            transform: translateY(-50%);
            z-index: 100;
        }

        .suivant {
            right: 0.6rem;
        }

        .precedent {
            left: 0.6rem;
        }

    }

}